.form-folha{
    height: 239px;
    width: 549px;
    border-radius: 7px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px 0px #00000026;
    margin: 25px auto;
    padding:45px;
    
} 

.form-folha label,input,select{
    display: flex;
}

.form-folha .format-folha{
    display: flex;
    justify-content: center;
}
.form-folha label{
    color: #333333;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    height: 19px;
    width: 53px;
    border-radius: nullpx;

}
.form-folha label > span{
    color:red;
}
.form-folha .label-acao{
    justify-content: center;
}

.form-folha > input::placeholder{
    height: 19px;
    width: 67px;
    left: 653px;
    top: 166px;
    border-radius: undefinedpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}
 .btn-salario{
    width:516px;
    justify-content: end;
    margin-right: 14px;
}

.form-folha select{
    height: 30px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #E9E9E9;
    border:none;
    outline: 0;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}
.form-folha  .label-curso{
    padding-left: 18px;
}


.tabela-folha{

    height: 200px;
    width: 700px;
    border-radius: 10px;
    margin:0 auto;
    background: #FFFFFF;
    border: 1px solid #33333380;
    margin-top:100px;
    overflow: scroll;
    
} 
.tabela-folha::-webkit-scrollbar{
    overflow: hidden;
    border: none;
    width: 0px;
}  

.tabela-folha .tr-colunas{
    height: 30px;
    width: 420px;
    left: 575px;
    top: 379px;
    border-radius: 10px;
    background: #BBBBBB;
}    

.tabela-folha th,td{
    text-align: center;
}

.tabela-folha td{
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
}
.tabela-folha th{
    height: 19px;
    width: 41px;
    left: 625px;
    top: 386px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;

}

.tabela-folha .tr-colunas th:nth-child(1){
    border-top-left-radius: 10px;
   
}
.tabela-folha > .tr-colunas > th:nth-child(6){
    border-top-right-radius: 10px;
    background-color: yellow;
   
}
.form-folha .btn-folha{
    width:549px;

}