.form-valor-receber{
    height: 270px;
    width: 468px;
    border-radius: 7px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px 0px #00000026;
    margin: 0 auto;
    padding:30px;
    
} 

.form-valor-receber label,input,select{
    display: flex;
}

.form-valor-receber .format-folha{
    display: flex;
    justify-content: center;
}
.form-valor-receber label{
    color: #333333;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    height: 19px;
    width: 53px;
    border-radius: nullpx;

}
.form-valor-receber label > span{
    color:red;
}
.form-valor-receber .label-acao{
    justify-content: center;
}

.form-valor-receber > input::placeholder{
    height: 19px;
    width: 67px;
    left: 653px;
    top: 166px;
    border-radius: undefinedpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}
.form-valor-receber .btn-valor-receber{
    width:480px;
    justify-content: end;
    
}

.form-valor-receber select{
    height: 30px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: #E9E9E9;
    border:none;
    outline: 0;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #3333334D;
}
.form-valor-receber  .label-curso{
    padding-left: 18px;
}


.tabela-valor-receber{

    height: 180px;
    width: 800px;
    border-radius: 10px;
    margin:0 auto;
    background: #FFFFFF;
    border: 1px solid #33333380;
    margin-top:100px;
    overflow: scroll;
    
} 
.tabela-valor-receber::-webkit-scrollbar{
    overflow: hidden;
    border: none;
    width: 0px;
}  

.tabela-valor-receber .tr-colunas{
    height: 30px;
    width: 420px;
    left: 575px;
    top: 379px;
    border-radius: 10px;
    background: #BBBBBB;
}    

.tabela-valor-receber th,td{
    text-align: center;
}

.tabela-valor-receber td{
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
}
.tabela-valor-receber th{
    height: 19px;
    width: 41px;
    left: 625px;
    top: 386px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;

}

.tabela-valor-receber .tr-colunas th:nth-child(1){
    border-top-left-radius: 10px;
   
}
.tabela-valor-receber > .tr-colunas > th:nth-child(6){
    border-top-right-radius: 10px;
   
}
